name: push-image
on:
    push:
        branches:
            - main
    release:
        types: [published]

env:
    DOCKER_BASE_NAME: ghcr.io/${{ github.repository }}

jobs:
    hadolint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
              with:
                fetch-depth: 1

            - name: Lint Bot Dockerfile
              uses: hadolint/hadolint-action@v3.3.0
              with:
                dockerfile: Dockerfile

            - name: Lint Dashboard Dockerfile
              uses: hadolint/hadolint-action@v3.3.0
              with:
                dockerfile: dashboard/Dockerfile

    push-image:
        runs-on: ubuntu-latest
        needs: hadolint
        permissions:
            packages: write
            contents: read
        steps:
            - uses: actions/checkout@v6
              with:
                submodules: 'recursive'

            - name: Set Env
              run: |
                if [ "${{ github.event_name }}" = 'release' ]; then
                    export TAG_NAME="${{ github.event.release.tag_name }}"
                else
                    export TAG_NAME="latest"
                fi
                echo "PKG_TAG"=${DOCKER_BASE_NAME}:${TAG_NAME} >> ${GITHUB_ENV}
                echo "PKG_TAG_DASHBOARD"=${DOCKER_BASE_NAME}-dashboard:${TAG_NAME} >> ${GITHUB_ENV}

            - name: Build Bot Image
              run: |
                docker build . -t "${PKG_TAG}"

            - name: Build Dashboard Image
              run: |
                docker build -f dashboard/Dockerfile -t "${PKG_TAG_DASHBOARD}" .

            - name: Login to ghcr.io
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}
              
            - name: Push Bot Image
              run: |
               docker push "${PKG_TAG}"

            - name: Push Dashboard Image
              run: |
               docker push "${PKG_TAG_DASHBOARD}"