name: release
on:
    push:
        branches:
            - main

permissions:
    contents: write
    pull-requests: write
    issues: write

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            # - name: checkout repo
            #   uses: actions/checkout@v5

          - name: Create release PR
            uses: googleapis/release-please-action@v4
            with:
              release-type: node
              token: ${{ secrets.GITHUB_TOKEN }}